{% set title = 'Perpustakaan - Data Buku SMA Negeri 1 Belinyu' %}
{% extends "master/base.html" %}

{% block sidebar %}
  <div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">SMA Negeri 1 Belinyu</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <img height="35px" width="35px" alt="image" src="{{ url_for ('static', filename='img/SmansaLogo.png') }}" class="rounded-circle mr-1">
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard Perpustakaan</li>
            <li class="nav-item dropdown active">
              <a href="/dashboard_perpus" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Buku</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_perpus/buku">Data Buku</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_perpus/tambah_buku">Tambah Buku</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Peminjaman</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_perpus/peminjaman">Data Peminjaman</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_perpus/tambah_peminjaman">Peminjaman Baru</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_perpus/cetak_peminjaman">Cetak Peminjaman</a>
                  </li>
              </ul>
            </li>
        </ul>
    </aside>
  </div>
  {% endblock sidebar %}

  {% block content %}
  <div class="main-content">
      <div class="col-md">
          <section class="section">
              <div class="section-header">
                  <h1>Dashboard Perpustakaan</h1>
              </div>
              <div class="section-body">
                  <h5 class="text-dark" style="text-align: center">{{ hari }}, {{ tanggal }}</h5>
                  <div class="row">
                      <!-- Buku -->
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                          <div class="card card-statistic-1">
                              <div class="card-icon bg-primary">
                                  <i class="fas fa-book"></i>
                              </div>
                              <div class="card-wrap">
                                  <div class="card-header">
                                      <h4>Jumlah Buku</h4>
                                  </div>
                                  <div class="card-body"> {{ buku }} </div>
                              </div>
                          </div>
                      </div>
                      <!-- Sedang Dipinjam -->
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                          <div class="card card-statistic-1">
                              <div class="card-icon bg-success">
                                  <i class="far fa-file"></i>
                              </div>
                              <div class="card-wrap">
                                  <div class="card-header">
                                      <h4>Buku Sedang Dipinjam</h4>
                                  </div>
                                  <div class="card-body"> {{ pinjam }} </div>
                              </div>
                          </div>
                      </div>
                      <!-- Total Peminjaman -->
                      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                          <div class="card card-statistic-1">
                              <div class="card-icon bg-warning">
                                  <i class="fas fa-archive"></i>
                              </div>
                              <div class="card-wrap">
                                  <div class="card-header">
                                      <h4>Total Peminjaman Buku</h4>
                                  </div>
                                  <div class="card-body"> {{ total }} </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
  {% endblock content %}