{% set title = 'Admin - Upload File SMA Negeri 1 Belinyu' %}
{% extends "master/base.html" %}

{% block sidebar %}
  <div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">SMA Negeri 1 Belinyu</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <img height="35px" width="35px" alt="image" src="{{ url_for ('static', filename='img/SmansaLogo.png') }}" class="rounded-circle mr-1">
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard Admin</li>
            <li class="nav-item dropdown">
              <a href="/dashboard_admin" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item dropdown {% if guru == true %} active {% endif %}">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Guru</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_guru">Lihat data guru</a>
                  </li>
                  <li {% if guru == true %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_admin/tambah_guru">Tambah guru</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown {% if siswa == true %} active {% endif %}">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Siswa</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_siswa">Lihat data siswa</a>
                  </li>
                  <li {% if siswa == true %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_admin/tambah_siswa">Tambah siswa</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-columns"></i><span>Data Kelas</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_kelas">Data Kelas</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_kelas">Tambah Kelas</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-file-alt"></i><span>Data Jadwal</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_jadwal">Data Jadwal</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_jadwal">Tambah Jadwal</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_mapel">Data Mata Pelajaran</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_mapel">Tambah Mata Pelajaran</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Staf</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_staf">Data Staf</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_staf">Tambah Staf</a>
                  </li>
              </ul>
            </li>
        </ul>
    </aside>
  </div>
  {% endblock sidebar %}

  {% block content %}
  <div class="main-content">
      <div class="col-md">
          <section class="section">
              <div class="section-header">
                  <h1>Form Upload File</h1>
              </div>
              <div class="section-body">
                  <div class="card">
                      <div class="card-header">
                          Silahkan Upload File sesuai panduan di bawah ini
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-4">
                                  <p>Guru:</p>
                              </div>
                              <div class="col-12 col-sm-12 col-md-4">
                                  <p>Siswa:</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
  {% endblock content %}