{% set title = 'Admin - Upload File SMA Negeri 1 Belinyu' %}
{% extends "master/base.html" %}

{% block sidebar %}
  <div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">SMA Negeri 1 Belinyu</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <img height="35px" width="35px" alt="image" src="{{ url_for ('static', filename='img/SmansaLogo.png') }}" class="rounded-circle mr-1">
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard Admin</li>
            <li class="nav-item dropdown">
              <a href="/dashboard_admin" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item dropdown {% if guru == true %} active {% endif %}">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Guru</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_guru">Lihat data guru</a>
                  </li>
                  <li {% if guru == true %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_admin/tambah_guru">Tambah guru</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown {% if siswa == true %} active {% endif %}">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Siswa</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_siswa">Lihat data siswa</a>
                  </li>
                  <li {% if siswa == true %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_admin/tambah_siswa">Tambah siswa</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-columns"></i><span>Data Kelas</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_kelas">Data Kelas</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_kelas">Tambah Kelas</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-file-alt"></i><span>Data Jadwal</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_jadwal">Data Jadwal</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_jadwal">Tambah Jadwal</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_mapel">Data Mata Pelajaran</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_mapel">Tambah Mata Pelajaran</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Staf</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_staf">Data Staf</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_staf">Tambah Staf</a>
                  </li>
              </ul>
            </li>
        </ul>
    </aside>
  </div>
  {% endblock sidebar %}

  {% block content %}
  <div class="main-content">
      <div class="col-md">
          <section class="section">
              <div class="section-header">
                  <h1>Form Upload File</h1>
                  <div class="section-header-breadcrumb">
                      <div class="breadcrumb-item">
                          <a href="/dashboard_admin">Dashboard</a>
                      </div>
                      {% if guru == true %}
                      <div class="breadcrumb-item">
                          <a href="/dashboard_admin/data_guru">Data Guru</a>
                      </div>
                      <div class="breadcrumb-item">
                          Upload Data Guru
                      </div>
                      {% endif %}
                      {% if siswa == true %}
                      <div class="breadcrumb-item">
                          <a href="/dashboard_admin/data_siswa">Data Siswa</a>
                      </div>
                      <div class="breadcrumb-item">
                          Upload Data Siswa
                      </div>
                      {% endif %}
                  </div>
              </div>
              <div class="section-body">
                  <div class="card">
                      <div class="card-header">
                          <p class="card-text" >Silahkan Upload File sesuai panduan di bawah ini</p>
                      </div>
                      <div class="card-body">
                          <p class="card-text" >• Data dimulai dari baris ke-2 kolom ke-1</p>
                          <div class="row">
                              <div class="col-12 col-md-6 col-lg-6">
                                  <h6>Guru:</h6>
                                  <p class="card-text">File terdiri dari 6 kolom berurutan:</p>
                                  <ul>
                                      <li>NUPTK</li>
                                      <li>Nama Lengkap</li>
                                      <li>Jenis Kelamin (L/P)</li>
                                      <li>Agama</li>
                                      <li>Email</li>
                                      <li>Telepon</li>
                                  </ul>
                              </div>
                              <div class="col-12 col-lg-6 col-md-6">
                                  <h6>Siswa:</h6>
                                  <p class="card-text">File terdiri dari 7 kolom berurutan:</p>
                                  <ul>
                                      <li>NIS</li>
                                      <li>Nama Lengkap</li>
                                      <li>Jenis Kelamin (L/P)</li>
                                      <li>Agama</li>
                                      <li>Email</li>
                                      <li>Telepon</li>
                                      <li>Kode Kelas (X_A, XI_B, dst)</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <form action="/dashboard_admin/upload_file/{{tipe}}" method="post">
                          <div class="row">
                              <div class="col-12 col-md-6 col-lg-6">
                                  <div class="form-group">
                                      <label>Upload file data guru</label>
                                      <input type="file" class="form-control" name="fileGuru" {% if guru == true %} required {% endif %}>
                                      <button class="btn btn-primary {% if siswa == true %} disabled {% endif %}" style="margin-top: 10px" type="submit">Upload Guru</button>
                                  </div>
                              </div>
                              <div class="col-12 col-lg-6 col-md-6">
                                  <div class="form-group">
                                      <label>Upload file data siswa</label>
                                      <input type="file" class="form-control" name="fileSiswa" {% if siswa == true %} required {% endif %}>
                                      <button class="btn btn-primary {% if guru == true %} disabled {% endif %}" style="margin-top: 10px" type="submit">Upload Siswa</button>
                                  </div>
                              </div>
                          </div>
                          </form>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
  {% endblock content %}