{% set title = 'Admin - Tambah Kelas SMA Negeri 1 Belinyu' %}
{% extends "master/base.html" %}

{% block sidebar %}
  <div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">SMA Negeri 1 Belinyu</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <img href="" height="35px" width="35px" alt="image" src="{{ url_for ('static', filename='img/SmansaLogo.png') }}" class="rounded-circle mr-1">
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard Admin</li>
          <li class="nav-item dropdown">
              <a href="/dashboard_admin" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
            </li>
          <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Guru</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_guru">Lihat data guru</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_guru">Tambah guru</a>
                  </li>
              </ul>
            </li>
          <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Siswa</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_siswa">Lihat data siswa</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_siswa">Tambah siswa</a>
                  </li>
              </ul>
            </li>
          <li class="nav-item dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-columns"></i><span>Data Kelas</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_kelas">Data Kelas</a>
                  </li>
                  <li class="active">
                      <a class="nav-link" href="/dashboard_admin/tambah_kelas">Tambah Kelas</a>
                  </li>
              </ul>
            </li>
          <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-file-alt"></i><span>Data Jadwal</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_jadwal">Data Jadwal</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_jadwal">Tambah Jadwal</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_mapel">Data Mata Pelajaran</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_mapel">Tambah Mata Pelajaran</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Staf</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_admin/data_staf">Data Staf</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_admin/tambah_staf">Tambah Staf</a>
                  </li>
              </ul>
            </li>
        </ul>
    </aside>
  </div>
  {% endblock sidebar %}

  {% block content %}
  <div class="main-content">
      <div class="col-md">
          <section class="section">
              <div class="section-header">
                  <h1>Tambah Kelas</h1>
                  <div class="section-header-breadcrumb">
                      <div class="breadcrumb-item">
                          <a href="/dashboard_admin">Dashboard</a>
                      </div>
                      <div class="breadcrumb-item">
                          <a href="/dashboard_admin/data_kelas">Data Kelas</a>
                      </div>
                      <div class="breadcrumb-item">
                          Tambah Kelas
                      </div>
                  </div>
              </div>
              <div class="section-body">
                  <div class="card">
                      <form action="/dashboard_admin/tambah_kelas" method="post">
                          <div class="card-body">
                              <div class="form-group">
                                  <label>Nama Kelas</label>
                                  <input type="text" placeholder="Masukkan nama kelas" name="kelas" class="form-control" required>
                              </div>
                              <div class="form-group">
                                  <label>Wali Kelas</label>
                                  <select class="form-control" name="wali" required>
                                      <option selected value="">Pilih wali kelas</option>
                                  {% for x in wali %}
                                        <option value="{{x[0]}}">{{ x[1] }}</option>
                                  {% endfor %}
                                  </select>
                              </div>
                          </div>
                          <div class="card-footer text-right">
                              <button class="btn btn-primary" type="submit">Tambah</button>
                              <a href="/dashboard_admin/data_kelas" class="btn btn-danger">Batal</a>
                        </div>
                      </form>
                  </div>
              </div>
          </section>
      </div>
  </div>
  {% endblock content %}