{% set title = 'Guru - Dashboard SMA Negeri 1 Belinyu' %}
{% extends "master/base.html" %}

{% block sidebar %}
  <div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">SMA Negeri 1 Belinyu</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <img height="35px" width="35px" alt="image" src="{{ url_for ('static', filename='img/SmansaLogo.png') }}" class="rounded-circle mr-1">
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard Guru</li>
            <li class="nav-item dropdown active">
              <a href="/dashboard_guru" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Absensi</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_guru">Cek Absensi</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru">Absensi Baru</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Nilai</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_guru">Nilai Tugas</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru">Nilai Praktek</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru">Nilai Ujian</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru">Nilai UTS/UAS</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru">Cetak</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="/dashboard_guru/jadwal/{{guru[0]}}/{{hari}}" class="nav-link"><i class="fas fa-columns"></i><span>Jadwal</span></a>
            </li>
        </ul>
    </aside>
  </div>
  {% endblock sidebar %}

  {% block content %}
  <div class="main-content">
      <div class="col-md">
          <section class="section">
              <div class="section-header">
                  <h1>Dashboard Guru</h1>
              </div>
              <div class="section-body">
                  <h5 class="text-dark" style="text-align: center">{{ hari }}, {{ tanggal }}</h5>
                  <div class="card">
                      <div class="card-header">
                          <h4>Jadwal Mengajar Anda Hari Ini</h4>
                      </div>
                      <div class="card-body">
                          <table class="table table-hover table-striped table-bordered text-center" style="margin-top: 10px">
                              <thead class="bg-primary">
                              <tr>
                                  <th class="text-light">Jam Belajar</th>
                                  <th class="text-light">Mata Pelajaran</th>
                                  <th class="text-light">Kelas</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% if jadwal is not false %}
                              <!-- Ini yang akan dilooping untuk memunculkan data ke dalam tabel-->
                              {% for data in jadwal %}
                              <tr>
                                  <td>{{ data[0] }}-{{ data[1] }}</td>
                                  <td>{{ data[2] }} / {{ data[3] }}</td>
                                  <td>{{ data[4] }}</td>
                              </tr>
                              {% endfor %}
                              <!-- Namun jika tabel kelas kosong -->
                              {% else %}
                              <tr>
                                  <td colspan="3">Tidak ada jadwal hari ini</td>
                              </tr>
                              {% endif %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
  {% endblock content %}