{% set title = 'Guru - Cek Absensi SMA Negeri 1 Belinyu' %}
{% extends "master/base.html" %}

{% block sidebar %}
  <div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">SMA Negeri 1 Belinyu</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <img height="35px" width="35px" alt="image" src="{{ url_for ('static', filename='img/SmansaLogo.png') }}" class="rounded-circle mr-1">
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard Guru</li>
            <li class="nav-item dropdown">
              <a href="/dashboard_guru" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Absensi</span></a>
              <ul class="dropdown-menu">
                  <li class="active">
                      <a class="nav-link" href="#">Cek Absensi</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/absensi_baru">Absensi Baru</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Nilai</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/tugas">Nilai Tugas</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/praktek">Nilai Praktek</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/ujian">Nilai Ujian</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/UTS">Nilai UTS</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/UAS">Nilai UAS</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/final">Nilai Akhir</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="/dashboard_guru/jadwal/{{session.id}}/{{hari}}" class="nav-link"><i class="fas fa-columns"></i><span>Jadwal</span></a>
            </li>
        </ul>
    </aside>
  </div>
  {% endblock sidebar %}

{% block content %}
  <div class="main-content">
      <div class="col-md">
          <section class="section">
              <div class="section-header">
                  <h1 href="/dashboard_guru">Cek Absensi Kelas</h1>
                  <div class="section-header-breadcrumb">
                      <div class="breadcrumb-item">
                          <a href="/dashboard_guru">Dashboard</a>
                      </div>
                      <div class="breadcrumb-item">
                          Data Absensi
                      </div>
                  </div>
              </div>
              <div class="section-body">
                  <div class="card">
                      <div class="card-header">
                          <h4>Pilih Kelas dan Mata Pelajaran</h4>
                      </div>
                      <div class="card-body">
                      {% if kls is not false %}
                      <div id="accordion">
                      {% for x in kls %}
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#{{x[0]}}" aria-expanded="false" style="">
                                <h4>{{x[1]}}</h4>
                            </div>
                            <div class="accordion-body collapse" id="{{x[0]}}" data-parent="#accordion">
                                <ul class="nav flex-column">
                                {% for map in mapel %}
                                {% if map[0] == x[0] %}
                                <li>
                                    <a class="nav-link" href="/dashboard_guru/data_absensi/{{map[1]}}/{{map[0]}}">{{map[1]}}/{{map[2]}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                      {% endfor %}
                      </div>
                      {% else %}
                        <li class="nav-item">
                            <h5 class="text-dark">Anda belum memiliki kelas yang diajar</h5>
                        </li>
                      {% endif %}
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
  {% endblock content %}