{% set title = 'Guru - Tambah Absensi SMA Negeri 1 Belinyu' %}
{% extends "master/base.html" %}

{% block sidebar %}
  <div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">SMA Negeri 1 Belinyu</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <img height="35px" width="35px" alt="image" src="{{ url_for ('static', filename='img/SmansaLogo.png') }}" class="rounded-circle mr-1">
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard Guru</li>
            <li class="nav-item dropdown">
              <a href="/dashboard_guru" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Absensi</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_absensi">Cek Absensi</a>
                  </li>
                  <li class="active">
                      <a class="nav-link" href="/dashboard_guru/absensi_baru">Absensi Baru</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Nilai</span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/tugas">Nilai Tugas</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/praktek">Nilai Praktek</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/ujian">Nilai Ujian</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/UTS">Nilai UTS</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/UAS">Nilai UAS</a>
                  </li>
                  <li>
                      <a class="nav-link" href="/dashboard_guru/cek_nilai/final">Nilai Akhir</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="/dashboard_guru/jadwal/{{session.id}}/{{hari}}" class="nav-link"><i class="fas fa-columns"></i><span>Jadwal</span></a>
            </li>
        </ul>
    </aside>
  </div>
  {% endblock sidebar %}

{% block content %}
  <div class="main-content">
      <div class="col-md">
          <section class="section">
              <div class="section-header">
                  <h1>Tambah Absensi Baru</h1>
                  <div class="section-header-breadcrumb">
                      <div class="breadcrumb-item">
                          <a href="/dashboard_guru">Dashboard</a>
                      </div>
                      <div class="breadcrumb-item">
                          <a href="/dashboard_guru/cek_absensi">Data Absensi</a>
                      </div>
                      <div class="breadcrumb-item">
                          Tambah Absensi
                      </div>
                  </div>
              </div>
              <div class="section-body">

                  <div class="card">
                      <form action="/dashboard_guru/tambah_absensi/{{mapel}}/{{kelas[0]}}/{{tgl}}" method="post">
                          <div class="card-header">
                              <h4>Absensi Kelas {{kelas[1]}} / Mata Pelajaran {{mapel}} / {{hari}} {{tgl}}</h4>
                          </div>
                          <div class="card-body">
                              <!-- Looping data absensi siswa pada kelas bersangkutan -->
                              <input type="hidden" name="jumlahSiswa" value="{{ siswa|length }}"/>
                              {% for data in siswa %}
                              {% set x = loop.index %}
                              <div class="form-row">
                                  <div class="form-group col-md-6">
                                      <input type="hidden" name="nis{{ x }}" value="{{ data[0] }}"/>
                                      <p>{{data[0]}} / {{data[1]}}</p>
                                  </div>
                                  <div class="form-group col-md-6">
                                      <select class="form-control" name="status{{ x }}" required>
                                          <option selected value="Hadir">Hadir</option>
                                          <option value="Izin">Izin</option>
                                          <option value="Sakit">Sakit</option>
                                          <option value="Alpha">Tidak ada keterangan</option>
                                      </select>
                                  </div>
                              </div>
                              {% endfor %}
                          </div>
                          <div class="card-footer text-center">
                              <button class="btn btn-primary" type="submit">Tambah</button>
                              <a href="/dashboard_guru/cek_absensi" class="btn btn-danger">Batal</a>
                          </div>
                      </form>
                      <script>
                      $(document).ready(function(){
                        name: "item_"+count_item}).appendTo("#products").wrap($("<div/>"));
                        });
                        })
        </script>
                  </div>
              </div>
          </section>
      </div>
  </div>
  {% endblock content %}