{% set title = 'Siswa - Nilai SMA Negeri 1 Belinyu' %}
{% extends "master/base.html" %}

{% block sidebar %}
  <div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">SMA Negeri 1 Belinyu</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <img height="35px" width="35px" alt="image" src="{{ url_for ('static', filename='img/SmansaLogo.png') }}" class="rounded-circle mr-1">
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard Siswa</li>
            <li class="nav-item dropdown">
              <a href="/dashboard_siswa" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item dropdown">
              <a href="/dashboard_siswa" class="nav-link"><i class="fas fa-user"></i><span>Cek Absensi</span></a>
            </li>
            <li class="nav-item dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Data Nilai</span></a>
              <ul class="dropdown-menu">
                  <li {% if jenis|capitalize == jNilai[0]  %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_siswa/cek_nilai/Tugas">Nilai Tugas</a>
                  </li>
                  <li {% if jenis|capitalize == jNilai[1]  %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_siswa/cek_nilai/Praktek">Nilai Praktek</a>
                  </li>
                  <li {% if jenis|capitalize == jNilai[2]  %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_siswa/cek_nilai/Ujian">Nilai Ujian</a>
                  </li>
                  <li {% if jenis|upper == jNilai[3]  %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_siswa/cek_nilai/UTS">Nilai UTS</a>
                  </li>
                  <li {% if jenis|upper == jNilai[4]  %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_siswa/cek_nilai/UAS">Nilai UAS</a>
                  </li>
                  <li {% if jenis|capitalize == jNilai[5]  %} class="active" {% endif %}>
                      <a class="nav-link" href="/dashboard_siswa/cek_nilai/Final">Nilai Akhir</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link"><i class="fas fa-columns"></i><span>Jadwal</span></a>
            </li>
        </ul>
    </aside>
  </div>
  {% endblock sidebar %}

  {% block content %}
  <div class="main-content">
      <div class="col-md">
          <section class="section">
              <div class="section-header">
                  <h1 href="/dashboard_siswa">Cek Nilai {{jenis|capitalize}}</h1>
                  <div class="section-header-breadcrumb">
                      <div class="breadcrumb-item">
                          <a href="/dashboard_siswa">Dashboard</a>
                      </div>
                      <div class="breadcrumb-item">
                          Data Nilai
                      </div>
                  </div>
              </div>
              <div class="section-body">
                  <div class="card">
                      <div class="card-body">
                      <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#mapels" aria-expanded="false" style="">
                                <h4>Pilih Mata Pelajaran</h4>
                            </div>
                            <div class="accordion-body collapse" id="mapels" data-parent="#accordion">
                                <ul class="nav flex-column">
                                {% for map in mapel %}
                                <li>
                                    <a class="nav-link" href="/dashboard_siswa/nilai/{{jenis}}/{{map[0]}}">{{map[0]}} / {{map[1]}}</a>
                                </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                      </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
  {% endblock content %}